<body>
  <header>
    <h1>Qacqio</h1>
  </header>
  <article>
    <h2>Plan Markups made Easy</h2>
  </article>
  <section>
    <form action="" method="">
      <p>Organization Name:
        <input type="text" name="organizationname" size="15" maxlength="30"/>
      </p>
      <p>Administrator Name:
        <input type="text" name="administratorname" size="15" maxlength="30"/>
      </p>
      <p>Administrator Email:
        <input type="text" name="administratoremail" size="15" maxlength="30"/>
      </p>
      <p>Password:
        <input type="password" name="password" size="15" maxlength="30"/>
      </p>
      <p>Confirm Password:
        <input type="password" name="confirmpassword" size="15" maxlength="30"/>
      </p>
      <div class="submit"> 
        <input type="submit" name="getstarted" value="Get Started!">
      </div>
    </form>
    <form>
</form>
  </section>
</body>