<p id="notice"><%= notice %></p>

<p>
  <b>Project:</b>
  <%= @document.project_id %>
</p>

<p>
  <b>Name:</b>
  <%= @document.name %>
</p>

<p>
  <b>Access link:</b>
  <%= @document.access_link %>
</p>


<%#= link_to 'Edit', edit_user_project_document_path(@user.id, @project.id, @document.id) %> |
<%#= link_to 'Back', user_project_documents_path(@user.id, @project.id) %>
