<h1>Listing projects</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Password</th>
    <th>Text description</th>
    <th>Client</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>


<h4>Current Projects</h4>
<% @projects.each do |project| %>
    <%#= project.password %>
    <%#= project.text_description %>
    <%#= project.client %>

    <div id = "bg">
    <div class =" text-center"> </div>
      <div class = "columm">
        <div class = "pagination-centered">
          <ul> 
            <div class = "vcard">
              <li><%= link_to project.name, user_project_path(current_user.id, project.id) %></li>
              <div>
              <a href = "Projects.html"><img src="img/Folder.png" alt="Project_A"></a>
              </div>
              <ul>  
                <li class = "labelo"><a href = "Projects.html"><img src="img/Settings.png" alt="Document_G" width = "20" height = "20"></a></li>
              </ul>
            </div>

<% end %>
</table>

<br />

<%= link_to 'New Project', new_user_project_path %>

<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Qacqio Documents</title>

  <link rel="stylesheet" href="css/normalize.css" />
  
  <link rel="stylesheet" href="css/projects.css" />
  

  <script src="js/vendor/custom.modernizr.js"></script>

</head>

<body>
  <div class="row">
     <div class="large-12 columns">
        <div class = "left"> 
          <a href = "http://www.gmail.com"><img src="img/Logo.png" alt="Qacqio"></a>
          <p> Plan reviews made easy</p>
        </div>
        <div>
          <ul class = "Nav">
            <li><a href = "http://www.twitter.com">AECOM</a></li>
          <li><a href = "http://www.facebook.com">Projects</a></li>
          <li><a href = "http://www.cnn.com">Log Out</li></a>
          </ul>
        </div>
    </div>
      <hr />
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns.">
      <div class = "panel">
      <div class =" text-center">
      <h2>Projects</h2>
      <p> Create a new project folder</p>
      </div>
        <div class = "pagination-centered">
          <div class="large-6 columns">
          </div>    
          <form class = "large-6 columns">
          Project Name: <input type="text" name="Folder name"><br>
          </form>
      <a href="#" class="success button">Create</a>
      </div>
    </div>


      <!-- Grid Example -->
      <!--
      <div class="row">
        <div class="large-12 columns">
          <div class="panel">
            <p>This is a twelve column section in a row. Each of these includes a div.panel element so you can see where the columns are - it's not required at all for the grid.</p>
            <p> This is another paragraph</p>
          </div>
        </div>
      </div>
    
      <div class="row">
        <div class="large-6 columns">
          <div>
            <p>Six columns</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="large-4 columns">
          <div class="panel">
            <p>Four columns</p>
          </div>
        </div>
        <div class="large-4 columns">
          <div class="panel">
            <p>Four columns</p>
          </div>
        </div>
        <div class="large-4 columns">
          <div class="panel">
            <p>Four columns</p>
          </div>
        </div>
      </div>
    -->


    <hr />
    <div id = "bg">
      <div class =" text-center">
      <h4>Current Projects</h4>
      </div>
        <div class = "columm">
          <div class = "pagination-centered">
            <ul> 
              <div class = "vcard">
                <li>I-90/94 Weave Analysis</li>
                <div>
                <a href = "Projects.html"><img src="img/Folder.png" alt="Project_A"></a>
                </div>
                <ul>  
                  <li class = "labelo"><a href = "Projects.html"><img src="img/Settings.png" alt="Document_G" width = "20" height = "20"></a></li>
                </ul>
              </div>
              <div class = "vcard">
                <li>Waukegan Bike Trail</li>
                <a href = "Projects.html"><img src="img/Folder.png" alt="Project_B"></a>
                <ul>  
                  <li class = "labelo"><a href = "Projects.html"><img src="img/Settings.png" alt="Document_G" width = "20" height = "20"></a></li>
                </ul>
              </div>
              <div class = "vcard">
                <li>Canal Traffic Impact</li>
                <a href = "Projects.html"><img src="img/Folder.png" alt="Project_C"></a>
                <ul>    
                  <li class = "labelo"><a href = "Projects.html"><img src="img/Settings.png" alt="Document_G" width = "20" height = "20"></a></li>
                </ul>
              </div>
              <div class = "vcard">
                <li>I-88 Reconstruction</li>
                <a href = "Projects.html"><img src="img/Folder.png" alt="Project_D"></a>
                <ul>    
                  <li class = "labelo"><a href = "Projects.html"><img src="img/Settings.png" alt="Document_G" width = "20" height = "20"></a></li>
                </ul>
              </div>
            </ul>
          </div>
        </div>
        </div>
      </div>
    <hr />


  <!--
      <div class="row">
        <div class="large-6 columns">
          <p><a href="#" class="small button">Small Button</a></p>
          <p><a href="#" class="button">Medium Button</a></p>
          <p><a href="#" class="large button">Large Button</a></p>
        </div>
        <div class="large-6 columns">
          <p><a href="#" class="small alert button">Small Alert Button</a></p>
          <p><a href="#" class="success button">Medium Success Button</a></p>
          <p><a href="#" class="large secondary button">Large Secondary Button</a></p>
        </div>
      </div>
    </div>

    <div class="large-4 columns">
      <h4>Getting Started</h4>
      <p>We're stoked you want to try Foundation! To get going, this file (index.html) includes some basic styles you can modify, play around with, or totally destroy to get going.</p>

      <h4>Other Resources</h4>
      <p>Once you've exhausted the fun in this document, you should check out:</p>
      <ul class="disc">
        <li><a href="http://foundation.zurb.com/docs">Foundation Documentation</a><br />Everything you need to know about using the framework.</li>
        <li><a href="http://github.com/zurb/foundation">Foundation on Github</a><br />Latest code, issue reports, feature requests and more.</li>
        <li><a href="http://twitter.com/foundationzurb">@foundationzurb</a><br />Ping us on Twitter if you have questions. If you build something with this we'd love to see it (and send you a totally boss sticker).</li>
      </ul>
    </div>
  </div>
-->

  <script>
  document.write('<script src=' +
  ('__proto__' in {} ? 'js/vendor/zepto' : 'js/vendor/jquery') +
  '.js><\/script>')
  </script>
  
  <script src="js/foundation.min.js"></script>
  <!--
  
  <script src="js/foundation/foundation.js"></script>
  
  <script src="js/foundation/foundation.dropdown.js"></script>
  
  <script src="js/foundation/foundation.alerts.js"></script>
  
  <script src="js/foundation/foundation.clearing.js"></script>
  
  <script src="js/foundation/foundation.placeholder.js"></script>
  
  <script src="js/foundation/foundation.forms.js"></script>
  
  <script src="js/foundation/foundation.cookie.js"></script>
  
  <script src="js/foundation/foundation.joyride.js"></script>
  
  <script src="js/foundation/foundation.magellan.js"></script>
  
  <script src="js/foundation/foundation.orbit.js"></script>
  
  <script src="js/foundation/foundation.reveal.js"></script>
  
  <script src="js/foundation/foundation.tooltips.js"></script>
  
  <script src="js/foundation/foundation.topbar.js"></script>
  
  -->
  
  <script>
    $(document).foundation();
  </script>
</body>
</html>