.black {
  background: black;
  width: 25px !important;
  height: 25px !important;
  border-radius: 50%;
  display: block;
  position: absolute;
  // To make the span overlay the image behind it
  z-index: 10;
  color: white;
  font-size: 4pt;
}

#image-area {
  position: relative !important;

span.black {
    position: aboslute;
  }
}

input[type=text] {
  width: 150px;
  display:block;
  margin-bottom:10px;
  background-color:yellow;
  margin: 25px;
}

form {
  width: 200px;
  display: block;
  float: left;
  margin: 25px;
}

.comment {
  width: 200px;
  float: left;
  margin: 25px;
}